{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
Create Post - UPDAILYDOSE
{% endblock title %}


{% block style %}
<style>
    .img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover;
    }

    .cards {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    .card {
        margin: 5px;
    }
</style>
{% endblock style %}


{% block content %}
<div class="row justify-content-center align-items-center">

    <form action="" method="post" style="width: 80%;">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Create a new post</legend>
            {{ form.media }}
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Post</button>
        </div>
    </form>
</div>

{% endblock content %}