{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
Profile - @{{ user.username }}
{% endblock title %}

{% block content %}
<div class="row justify-content-center align-items-center">
    <div class="content">
        <div class="content-section">
            <div class="media align-items-center">
                <img src="{{ user.profile.image.url }}" alt="" class="avatar ml-2 mr-2" style="height: 60px; width: 60px;">
                <div class="media-body">
                    <h2 class="account-heading">@{{ user.username }}</h2>
                    <p class="text-secondary">{{ user.email }}</p>
                </div>
            </div>
            <form action="" method="post" style="width: 500px;" enctype="multipart/form-data"> 
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Profile Info</legend>
                    {{ u_form|crispy }}
                    {{ p_form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Update Profile</button>
                </div>
            </form>
        </div>
    </div>
</div>




{% endblock content %}